* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    background-color: #FFFFFF;
    font-family: "Roboto";
    color: #404040;
}

ul {
    list-style: none;
}

.fiassad {
    background: #FFFFFF !important;
}

h1 {
    color: #101010;
    font-size: 5.6rem;
    text-transform: uppercase;
    line-height: 100%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-indent: 5.7rem;


}

h2 {
    font-size: 2rem;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #404040;
    font-style: normal;
    font-weight: 400;
}

h3 {
    line-height: 2rem;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    display: inline-block;
}

h4 {
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #404040;
    font-size: 1.2rem;
}

.divider {
    border: none;
    border-bottom: 1px solid #F0F0EC;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.container > * {
    padding: 8rem 8rem 8rem 8rem;
}

.container-fluid {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container-fluid > div {
    background-color: white !important;
}

.container:nth-child(even) {
    background: #E8F1EF;
}

/* header part */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8.8rem;
    width: 100%;
    margin-right: 8.8rem;
    margin-left: 8.8rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo span {
    margin-left: 0.75rem;
    font-size: 1.5rem;
}

.menu {
    display: flex;
    align-items: center;
}

.menu nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu nav .telephone {
    margin-right: 4.6rem;
    padding: 0;
}

.telephone span {
    margin-left: 0.8rem;
}

.telephone span i {
    height: 1.5rem;
    width: 1.5rem;
}

.menu nav ul,
.menu nav li {
    padding: 0;
    margin: 0;
}

.request-a-call {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 178px;
    height: 48px;
    border: 1px solid #04755A;
    border-radius: 24px;
    color: #FFFFFF;
}

.request-a-call:hover,
.request-a-call:hover > h3 {
    background-color: #04755A;
    color: #FFFFFF;
}

.request-a-call h3 {
    color: #04755A;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 178px;
    height: 48px;
    border: 1px solid #04755A;
    border-radius: 24px;
    background-color: #04755A;
    color: #FFFFFF;
}

/* banner part */
.banner {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: url("./../images/text.png") no-repeat 40%;
    width: 100%;
    margin-right: 8.8rem;
    margin-left: 8.8rem;
}

.banner_content {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
}

.banner_content-item img {
    width: 129px;
    height: 89px;
}

.banner_content .active img {
    width: 72.3rem;
    height: 44.3rem;
    position: relative;
    margin-left: 200px;
}

.banner_content-item__btn {
    margin-left: 100px;
    margin-top: 80px;
    height: 100px;
    width: 100px;
}

.banner_content-item__btn .Line {

    position: relative;
    width: 88px;
    height: 1px;
    border: 1px solid #04755A;
}

.banner_content-item__btn .Ellipse {
    border-radius: 50%;
    position: absolute;
    width: 5px;
    margin-left: 50%;
    height: 5px;
    background: #04755A;
}


.d34 {
    animation: 2s linear 1s normal none infinite running d34;
    -webkit-animation: 2s linear 1s normal none infinite running d34;
    width: 170px;
    height: 170px;
    margin-top: 25px;
    background: #04755A;
    position: relative;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    top: -74px;
    left: 15px;
    border-radius: 18%;
    z-index: 0;
}

.d34:before,
.d34:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 170px;
    height: 170px;
    background: inherit;
    border-radius: 18%;
}

.d34:before {
    transform: rotate(30deg);
}

.d34:after {
    transform: rotate(60deg);
}

.d34:hover {
    background: #00644C;
    animation: 1s linear 0s normal none infinite running d34;
    -webkit-animation: 1s linear 0s normal none infinite running d34;
}

.banner-see-more div > h3 {
    position: absolute;
    top: 35%;
    z-index: 1;
    width: 81px;
    height: 40px;
    color: #FFFFFF;
}

@keyframes d34 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes d34 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* stage part */

.stage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1% 1%;
}

.stage_images-group {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
    background: url("./../images/Frame242.png") no-repeat;
}

.stage_images-group > div {
    position: relative;
    z-index: -1;
    left: -223px;
}

.backlogo {
    position: absolute;
    z-index: -2;
    right: 0;

}

.stage_content {
    position: relative;
    top: 2.2rem;
    display: flex;
    flex-direction: column;
    width: 53.6rem;
    align-items: center;
    justify-content: center;
}

.stage_title {
    margin-bottom: 5.4rem;

}

.paragraph {
    position: absolute;
    width: 20px;
    height: 32px;
    left: -60px;
    top: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
    text-transform: uppercase;
    color: #04755A;
}

.stage_text {
    margin-bottom: 2.4rem;
    width: 36.8rem;
}

.stage_footer {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    top: 3rem;
}

.stage_footer-text {
    width: 19.2rem;
}

.vl {
    width: 9rem;
    border: 1px solid #04755A;
    transform: rotate(45deg);
    right: 13.9rem;
    bottom: 1.2rem;
    position: absolute;
}

.stage_content_human-photo {
    z-index: 0;
    position: relative;
}

.stage_content_human-photo :nth-last-child(even) {
    z-index: 1;
    position: absolute;
    left: -169px;
    top: 331px;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 650px) {
    .mobile-menu {
        display: flex;
    }

    nav > a, nav > .telephone {
        display: none;
    }

    .stage {
        align-items: start;
        flex-direction: column;
        width: 100%;
        margin: 5% 10%;
    }

    .stage_content {
        width: 100%;
        align-items: flex-start;
    }

    .header {
        height: 7.2rem;

    }

    .stage_content > a {
        margin: 0 auto;
    }

    .stage_content > a > div {
        width: 343px;
        height: 47px;
    }

    .stage_title {
        width: 100%;
    }

    .banner_content {
        width: 100%;
        justify-content: start;

    }

    .banner .banner_content .banner_content-item__btn {
        display: none;
    }

    .banner {
        margin: 0;
    }

    .banner-see-more {
        position: relative;
        margin-top: 123px;
    }

    .container > * {
        padding: 2rem 0 2rem 0;
        max-width: 375px;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }

    .container > .stage {
        flex-direction: column;
        max-width: 375px;
    }


    .stage_footer {
        top: 3rem;
        left: 0;
    }

    .stage_footer :nth-child(4n) {
        top: 13rem;
        left: 0;
    }

    .clearfix {
        max-width: 37.2rem;
        justify-content: flex-start;
        align-items: start;
        display: flex;
        flex-direction: column;
        margin-top: 2.7rem;
    }


    .stage_images-group > img {
        max-width: 17.5rem;
    }

    .stage_images-group {
        background: none;
        max-width: 375px;
    }

    .stage_images-group > div img {
        max-width: 28.5rem;
    }

    .stage_images-group > div {
        left: -123px;
    }

    img {
        max-width: 37.2rem;
    }

    .stage_footer-text {
        width: 19.2rem;
    }

    .container-fluid {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 37.5rem;
    }

    .banner_content .active img {
        width: 39.5rem;
        height: 24rem;
        position: relative;
        margin-left: 0
    }

    .revert {
        margin-top: 2rem;
        flex-direction: column-reverse !important;
    }


    .stage_content_human-photo > img {
        transform: scale(0.5);
    }

    .stage_content_human-photo :nth-last-child(even) {
        z-index: 1;
        position: absolute;
        left: -49px;
        top: 221px;
    }
}

/* Стили для модалки */

.overlay {
    opacity: 0;
    visibility: hidden;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}
.modal {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-width: 1100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    text-align: center;
    padding: 30px;
    border-radius: 3px;
    background-color: #fff;
    transition: 0.3s all;
}
.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}
.modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #444;
    cursor: pointer;
}
.modal__title {
    transform-style: preserve-3d;
    animation: modalBody 10s infinite linear;
    -webkit-animation: 10s linear 0s normal none infinite running modalBody;
}

@keyframes modalBody {
    100% {
        transform: rotateY(360deg);
    }
}